@use '../utils' as *;

/*=============================
    	03. Banner
===============================*/
.banner {
    &__bg {
        background-size: cover;
        background-position: bottom center;
        position: relative;
        z-index: 1;
        padding: 220px 0 230px;
        margin-bottom: 135px;
        @media #{$xl} {
            padding: 175px 0 205px;
        }
        @media #{$lg} {
            padding: 150px 0 160px;
            margin-bottom: 85px;
        }
        @media #{$md} {
            padding: 145px 0 145px;
            margin-bottom: 70px;
        }
        @media #{$xs} {
            padding: 135px 0 125px;
            margin-bottom: 40px;
        }
    }
    &__content {
        text-align: center;
        padding: 0 40px;
        @media #{$lg} {
            padding: 0;
        }
        & .sub-title {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--tg-primary-color);
            border: 1px solid var(--tg-border-1);
            @include border-radius(30px);
            padding: 6px 10px;
            display: inline-block;
            line-height: 1;
            margin-bottom: 20px;
        }
        & .title {
            margin-bottom: 40px;
            font-size: 64px;
            letter-spacing: -0.03em;
            @media #{$lg} {
                margin-bottom: 30px;
                font-size: 58px;
            }
            @media #{$md} {
                font-size: 50px;
            }
            @media #{$xs} {
                font-size: 42px;
            }
            @media #{$sm} {
                font-size: 45px;
            }
            & span {
                color: var(--tg-color-gray-1);
                color: rgba(255, 255, 255, 0.3);
            }
        }
        & p {
            margin-bottom: 50px;
            font-size: 20px;
            @media #{$lg} {
                margin-bottom: 35px;
            }
        }
        &-bottom {
            display: block;
            font-size: 14px;
            & a {
                color: var(--tg-color-white-default);
                &:hover {
                    color: var(--tg-primary-color);
                }
            }
        }
    }
    &__form {
        position: relative;
        width: 530px;
        margin: 0 auto 20px;
        @media #{$md} {
            width: 100%;
        }
        & input {
            width: 100%;
            border: 1px solid var(--tg-border-1);
            background: var(--tg-secondary-color);
            @include border-radius(30px);
            font-size: 14px;
            color: var(--tg-color-white-default);
            padding: 14px 10px 14px 44px;
            height: 50px;
            &::placeholder {
                color: var(--tg-color-white-default);
                opacity: .4;
                font-size: 14px;
            }
        }
        & label {
            position: absolute;
            left: 20px;
            top: 12px;
        }
        & button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            @media #{$xs} {
                position: initial;
                transform: translateY(0);
                width: 100%;
                justify-content: center;
                margin-top: 15px;
            }
        }
    }
    &__shape {
        & img {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                left: 13%;
                bottom: 42px;
                @media #{$xxl} {
                    left: 9%;
                }
                @media #{$xl} {
                    left: 7%;
                }
                @media #{$lg} {
                    width: 120px;
                }
                @media #{$md} {
                    width: 110px;
                    bottom: 10px;
                }
                @media #{$xs} {
                    width: 75px;
                    bottom: 0px;
                }
                @media #{$sm} {
                    width: 85px;
                }
            }
            &:nth-child(2) {
                left: 42%;
                bottom: -135px;
                @media #{$lg} {
                    bottom: -85px;
                    width: 200px;
                }
                @media #{$md} {
                    bottom: -70px;
                    width: 155px;
                }
                @media #{$xs} {
                    bottom: -40px;
                    width: 90px;
                    left: 40%;
                }
                @media #{$sm} {
                    width: 120px;
                    left: 42%;
                }
            }
            &:nth-child(3) {
                right: 17%;
                bottom: 45px;
                @media #{$xxl} {
                    right: 11%;
                }
                @media #{$xl} {
                    right: 9%;
                }
                @media #{$lg} {
                    width: 110px;
                }
                @media #{$md} {
                    width: 100px;
                    bottom: 10px;
                }
                @media #{$xs} {
                    width: 70px;
                    bottom: 0px;
                    right: 5%;
                }
                @media #{$sm} {
                    width: 80px;
                }
            }
            &:nth-child(4) {
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                @media #{$lg} {
                    width: 60%;
                    top: 60px;
                }
            }
        }
    }
}