@use '../utils' as *;

/*=============================
    	10. Crypto
===============================*/
.crypto {
    &__area {
        position: relative;
        z-index: 1;
        background: var(--tg-secondary-color);
        overflow: hidden;
    }
    &__item {
        background: linear-gradient(140deg, #222325 0%, rgba(21, 21, 21, 0) 100%);
        border: 1px solid var(--tg-border-1);
        padding: 50px 30px;
        text-align: center;
        @include border-radius(10px);
        height: 100%;
        @media #{$lg} {
            padding: 50px 20px;
        }
        &:hover {
            & .crypto__icon {
                & img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
    &__icon {
        margin-bottom: 50px;
        display: inline-block;
        & img {
            @include transition(.5s);
        }
    }
    &__content {
        & .title {
            font-size: 32px;
            margin-bottom: 30px;
            line-height: 1.3;
            @media #{$lg} {
                font-size: 26px;
            }
            & span {
                display: block;
                color: rgba(255, 255, 255, 0.3);
            }
        }
    }
    &__shape {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        z-index: -1;
    }
}