$colors: (
    body-font: (
        color: #888888,
    ),
    heading-font: (
        color: #FFFFFF,
    ),
    primary: (
        color: #FFCC66,
    ),
    secondary: (
        color: #191A1B,
    ),
    color: (
        dark-blue: #0E104B,
        yellow-light: #FFBE17,
        yellow-light-2: #FFFBF3,
        white-default: #ffffff,
        gray-1: #5B5B5B,
        dark: #151515,
    ),
    border: (
        1: #363636,
    )
);
